/*	Chicago:
	---------------
	The font used is the iconic Chicago.
	This version is retrieved from Chris Trekker:
	http://christtrekker.users.sourceforge.net/fnt/
*/
@font-face {
	font-family: 'Chicago';
    src: url('../fonts/ChicagoFLF.ttf');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Geneva", "Verdana", sans-serif;
}

/*	HTML/Body styles:
	---------------
*/

html, body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	overflow: hidden;
	font-family: "Geneva", "Verdana", sans-serif;
	background-color: #ccc;
}

* {
	box-sizing: border-box;
}

/*	Text Selection:
	---------------
	Most elements are decorative and should not be selectable
	This disables text selection on all objects by default.
	It can and should be enabled on a per-object basis for objects that allow selection.
*/
html {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*	Remove Scrollbars:
	------------------
	We do not want the browser's scroll bars because we implement our own.
	This disables scrollbars on all elements by default.
*/
::-webkit-scrollbar { /* Safari, Chrome */
    display: none;
    width: 0;
}
* { /* <-- FF does not inherit, so needs explicit disabling on all dom nodes */
    scrollbar-width: none; /* FF */
    overflow: -moz-scrollbars-none; /* FF */
    -ms-overflow-style: none; /* IE, Edge */
}